# Ingore a complete folder
skip1/*

# Ignore a specific file inside a specific folder
module/samplefile.txt
application/sample.php

# Ignore temporary files
*.tmp

# Ignore log files
*.log

# Ignore configuration files
config.ini

# Ignore build artifacts
build/

