# Ignore all  files in application folder
application/

# Ignore a specific file inside a specific folder
module/samplefile.txt

# Ignore temporary files
*.tmp

# Ignore log files
*.log

# Ignore configuration files
config.ini

# Ignore build artifacts
build/

